
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

pre {
  margin: 0;
}

a{
  text-decoration-line: none;
}

#contest_table {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  max-width: 900px;
}
#contest_table td,
#contest_table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#contest_table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#contest_table tr:hover {
  background-color: rgb(206, 206, 206);
}
#contest_table th {
  background-color: #04aa6d;
  color: white;
}

td > *{
  margin-left: 30px;
}


#add-contest-btn{
  width:fit-content;
}

#add-contest-btn button:hover{
  cursor: pointer;
}

/* .table-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

/* .ended #refresh {
  display: none;
} */

/* .footer {
  display: flex;
  flex-direction: row;
}

#contest_table td div {
  display: flex;
  justify-content: space-around;
} */

#update-form {
  display: none;
}
